<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bstp4.css" />
</head>
<body>
<div id="app">
    <nav-menu></nav-menu>
    <div class="container">
        <router-view></router-view>
    </div>
</div>

<template id="page">
    <div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div v-for="item of allData">
                    {{item.name}}
                </div>
            </div>
        </div>
    </div>
</template>

<template id="second">
    <div>
        <h3>{{tit}}</h3>
    </div>
</template>

<template id="nav-menu">
    <div>
        <nav class="nav">
            <li class="nav-link" v-for="item of routes">
                <router-link :to="item.path" >{{item.title}}</router-link>
            </li>
        </nav>
    </div>
</template>



<script src="./assets/js/vue/vue.js"></script>
<script src="./assets/js/axios/axios.js"></script>
<script src="./assets/js/vue-router/vue-router.js"></script>
<script src="./assets/js/vuex/vuex.js"></script>

<script>

    var firstComp =  Vue.component('page-main' , {
        template : '#page',

        data() {
            return {
                title : 'Vue inicio',
                allData : []
            }
        },
        created(){
            this.getAll()
        },
        methods : {
            getAll(){
                let data = axios.get('http://localhost:3000/all')
                    .then(resp => this.allData = resp.data.data)
            }
        }

    })

    var secondComp = Vue.component('second-page' , {
        template : '#second',

        data(){
            return {
                tit : 'MEU SEGUNDO COMPONENT'
            }
        }
    })

    var navComp = Vue.component('nav-menu' , {
        template : '#nav-menu',

        data(){
            return {
                routes : router.options.routes,
                menu : false
            }
        }
    })

    const router = new VueRouter({
        mode : 'history',
        routes : [
            {path : '/' , component : firstComp , title : 'Home' },
            {path : '/second' , component : secondComp, title : 'Second' }
        ]
    })


    var app = new Vue({
        el : '#app',
        router,
    })



</script>

</body>
</html>